
.tour_item{

    
}
.tour_img_list{
    position:relative;
    height: 170px;

}
.tour_img_list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.day_time {
    position: absolute;
    top: 20px;
    left: 0;
    width: 50px;
    display: flex;
    align-items: center;justify-content:center;
    height: 50px;
    flex-direction: column;
    border: 1px solid orangered;
background: linear-gradient(to top, orangered,yellow);
}
.tour_list_writer{
  padding: 10px;border: 1px solid #7777;
  min-height: 243px;
}

.tour_list_writer .write_title{
    font-weight: 520;
    padding-bottom: 10px;
}.tour_list_writer>p:last-child{
    font-size: 15px;
    color: rgb(61, 59, 59);
}
.category form{
display: flex;
flex-direction:column;
align-items: center;
width: 100%;
}
.category form input[type="text"]{
width: 90%;
border: 1px solid gray;
outline: none;
padding: 8px 10px;
border-radius: 5px;
}
.category form button{
padding: 8px 10px;
border-radius: 5px;
border: 1px solid gray;
outline: none;
margin: 8px 0;
background-color: rgb(73, 1, 1);
color:white;
}

.list_writes{
    display: flex;

}
hr{
    width: 90%;
    margin: auto;
}
.img_write{
margin: 0 5px;
    width: 100%;
}
.write_content{
    font-size: 16px;
    line-height: 1.2;
    margin-left: 5px;
}

@media (min-width: 740px) and (max-width: 1023px){
.tour_list_writer {
    min-height: 316px;
}

}
@media (max-width: 739px){
.tour_list_writer {
    min-height: 158px;
}

}